.navigation {
  position: fixed;
  height: 100%;
  width: 75%;
  z-index: 3;
  background-image: linear-gradient(
    to left,
    #c4c5c7 0%,
    #dcdddf 52%,
    #ebebeb 100%
  );
  top: 0;
  left: -100%;
  transition: all 0.5s ease-in-out;
  &.open {
    left: 0;
  }
}
.list {
  margin-top: 50px;
  padding: 40px;

  .item {
    font-size: 18px;
    padding: 10px;
    margin-bottom: 20px;
    list-style: none;

    &Link {
      text-decoration: none;
      color: black;
      padding-bottom: 10px;

      &Active {
        color: #ea5f1e;
      }
    }
  }
}
