.link {
  width: 100%;
  margin: 20px;
  margin-bottom: 20px;
  max-width: 360px;
  box-shadow: -3px 5px 20px 0px rgba(78, 77, 77, 0.5);
  text-decoration: none;
  .item {
    color: black;

    .title {
      font-size: 20px;
      padding: 15px;
      margin-bottom: 10px;
    }
    .logo {
      margin-top: 10px;
    }
  }
}
