.wrapper {
  background-image: linear-gradient(
    to top,
    lightgrey 0%,
    lightgrey 1%,
    #e0e0e0 26%,
    #efefef 48%,
    #d9d9d9 75%,
    #bcbcbc 100%
  );
  grid-area: header;
}

.slide {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 80px 30px 20px 30px;
  // max-width: 600px;

  .slide__text {
    flex-grow: 1;
    max-width: 480px;
    @media screen and (min-width: (460px)) {
      font-size: 35px;
    }
  }
  .slide__image {
    width: 50vw;
    height: 50vw;
    max-width: 350px;
    max-height: 350px;
  }
}
